## PYTHON ASSIGNMENT 20

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [13]:
test1 = 'This is a test of the emergency text system'

f = open('test.txt', 'w')
f.write(test1)
f.close()

2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [14]:
f = open('test.txt', 'r')
test2 = f.read()
print(test2)
f.close()

This is a test of the emergency text system

In [15]:
if test1 == test2:
    print('No difference')

No difference

3.Create a CSV file called books.csv by using these lines:<br>
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992

In [16]:
import csv
rows = [ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [17]:
import sqlite3
db = sqlite3.connect("books.db")
c = db.cursor()
c.execute('CREATE TABLE books(title text, author text, year int)')

5.Read books.csv and insert its data into the book table.

In [18]:
with open("books.csv","r") as f:
    reader = csv.reader(f)
    for row in reader:
        try:
            if int(row[2]):
                c.execute(f'INSERT INTO books VALUES("{row[0]}", "{row[1]}", {int(row[2])})')
        except:
            pass
c.execute('select * from books').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

6.Select and print the title column from the book table in alphabetical order.

In [19]:
c.execute('select title from books').fetchall()

[('The Weirdstone of Brisingamen',),
 ('Perdido Street Station',),
 ('Thud!',),
 ('The Spellman Files',),
 ('Small Gods',)]

7.From the book table, select and print all columns in the order of publication.

In [20]:
c.execute('select * from books order by year').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [21]:
db.commit()
db.close()

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [22]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db')
engine

Engine(sqlite:///books.db)